<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TripApp, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to use the TripApp,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Whoooooooooooh you're awesome!!!</p>
  </body>
</html>
